.count-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 0 0;
}

.count-results {
  font-size: 16px;
  font-weight: 600;
}

.select-page {
  padding: .3rem 1.2rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

.select-page option {
  text-align: center;
  width: 100%;
}
